<main>
    <p style="text-align: center; font-size: 50px;">Đây là trang chủ</p>
    <p style="text-align: center; font-size: 50px;">21127160 - Nguyễn Thanh Sơn</p>
    <p style="text-align: center; font-size: 50px;">21127309 - Trương Đình Huy</p>
    <p style="text-align: center; font-size: 50px;">21127686 - Nguyễn Phùng Tài</p>
</main>